#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
    echo "Setting up shell"
    sudo apt-get update && \
      sudo apt-get install -y zsh fzf tmux && \
        sudo chsh -s $(which zsh) $USER
    if [ ! -d "$HOME/.zgen" ]; then
      echo "Installing zgen"
      git clone https://github.com/tarjoilija/zgen.git "${HOME}/.zgen"
    fi

    if [ ! -d "$HOME/.pyenv" ]; then
      echo "Installing pyenv"
      curl https://pyenv.run | bash
    fi
{{ else }}
{{ end }}
