#!/bin/sh
PATH="$HOME/.local/bin/:$PATH"
{{ if eq .chezmoi.os "linux" -}}
    echo "Setting up shell"
    sudo apt-get update && \
      sudo apt-get install -y zsh fzf tmux && \
        sudo chsh -s $(which zsh) $USER
    if [ ! -d "$HOME/.zgen" ]; then
      echo "Installing zgen"
      git clone https://github.com/tarjoilija/zgen.git "${HOME}/.zgen"
    fi

    if [ ! -d "$HOME/.pyenv" ]; then
      echo "Installing pyenv"
      curl https://pyenv.run | bash
    fi
{{ else if eq .chezmoi.os "darwin" -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
cask "firefox"
cask "jetbrains-toolbox"
brew "fzf"
brew "tmux"
EOF
if [ ! -d "$HOME/.pyenv" ]; then
  echo "Installing pyenv"
  curl https://pyenv.run | zsh
fi
{{ end }}
