#!/bin/sh
PATH="$HOME/.local/bin/:$PATH"
{{ if eq .chezmoi.os "linux" -}}
    curl https://get.volta.sh | bash -s -- --skip-setup
    export VOLTA_HOME="$HOME/.volta"
    export PATH="$VOLTA_HOME/bin:$PATH"
    volta install node
{{ else }}
{{ end }}